---
import Main from '../layout/Main.astro'
import Button from '../components/Button.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const HUBSPOT_MEET_URL = "https://meetings-eu1.hubspot.com/facundo-gordillo";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<Main>
<section class="relative isolate grid h-screen">
  <div class="absolute inset-0 overflow-hidden">
    <div
      id="animated_background"
      class="bg-left-center absolute inset-0 z-0 bg-[url('/background_animated.svg')] bg-contain"
    />
  </div>

  <div
    class="absolute inset-0 z-0 bg-[url('/background_title.svg')] bg-right-bottom bg-repeat-x"
  />

  <div class="absolute inset-0 z-0 bg-black/10" />

  <div
    class="z-10 mx-auto grid max-w-5xl grid-cols-1 gap-4 px-8 pt-48 md:grid-cols-2 md:pt-80"
  >
    <div class="flex flex-col gap-4">
      <div class="flex gap-4">
        <img
          class="hidden h-16 w-16 md:block"
          src="/logo.webp"
          alt="logo-chiro"
        />
        <h1 class="text-5xl font-extrabold sm:text-6xl">ChiroTech</h1>
      </div>
      <p class="">{t("subtitle_1")} <strong>{t("subtitle_2")}</strong></p>
    </div>

    <div class="flex flex-col items-center gap-4">
      <Button href={HUBSPOT_MEET_URL} target="_blank" rel="noreferrer noopener"
        >{t("lets_talk")}</Button
      >
      <Button href="/about-us" 
        >{t("about_us")}</Button
      >
    </div>
  </div>
</section>

<h1
  id="about_us"
  class="flex h-96 items-center justify-center
  bg-[url('/background_title-reversed.svg')] bg-left-top bg-repeat-x pt-40
  text-center text-4xl font-bold"
>
  {t("what_we_do")}
</h1>

<section
  class="relative isolate flex h-96 flex-row-reverse items-center px-4
  md:pr-20 lg:justify-center lg:px-0"
>
  <div
    class="absolute inset-0 z-0 bg-[url('/background_blockchain.svg')] bg-no-repeat"
  />
  <div class="z-10 max-w-md rounded-md bg-cyan-950/70 p-8">
    <div class="flex max-w-xs flex-col gap-2">
      <h1 class="border-l-2 border-teal-500 pl-2 text-xl font-bold">
        🔒 {t("sections.blockchain-title")}
      </h1>
      <p>
        {t("sections.blockchain-text")}
      </p>
    </div>
  </div>
  <div
    class="absolute inset-0 z-0 hidden bg-[url('/background_blockchain-reversed.svg')] bg-right bg-no-repeat lg:block"
  />
</section>

<section
  class="relative isolate flex h-96 items-center px-4
  md:pl-20 lg:justify-center lg:px-0"
>
  <div
    class="absolute inset-0 z-0 hidden bg-[url('/background_cybersecurity-reversed.svg')] bg-no-repeat lg:block"
  />
  <div class="z-10 max-w-md rounded-md bg-sky-950/70 p-8">
    <div class="flex max-w-xs flex-col gap-2">
      <h1 class="border-l-2 border-sky-500 pl-2 text-xl font-bold">
        🛡️ {t("sections.cybersecurity-title")}
      </h1>
      <p>
        {t("sections.cybersecurity-text")}
      </p>
    </div>
  </div>
  <div
    class="absolute inset-0 z-0
    bg-[url('/background_cybersecurity.svg')] bg-right bg-no-repeat"
  />
</section>

<section
  class="relative isolate flex h-96 flex-row-reverse items-center px-4
  md:pr-20 lg:justify-center lg:px-0"
>
  <div
    class="absolute inset-0 z-0 bg-[url('/background_team.svg')] bg-no-repeat"
  />
  <div class="z-10 max-w-md rounded-md bg-red-950/70 p-8">
    <div class="flex max-w-xs flex-col gap-2">
      <h1 class="border-l-2 border-red-500 pl-2 text-xl font-bold">
        🚀 {t("sections.skills-title")}
      </h1>
      <p>
        {t("sections.skills-text")}
      </p>
    </div>
  </div>
  <div
    class="absolute inset-0 z-0 hidden bg-[url('/background_team-reversed.svg')] bg-right bg-no-repeat lg:block"
  />
</section>

<h1
  class="flex h-72 items-center justify-center text-center text-4xl font-bold"
>
  {t("our_industries")}
</h1>

<section class="container mx-auto grid grid-cols-1 gap-8 pb-8 md:grid-cols-3">
  <!-- Sección de Finanzas -->
  <div class="flex flex-col gap-4 rounded-lg p-4 shadow-lg">
    <div class="text-center">
      <div class="mx-auto mb-4 h-16 w-16">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ionicon"
          viewBox="0 0 512 512"
          ><path
            d="M448 400H64a16 16 0 010-32h384a16 16 0 010 32zM416 448H96a16 16 0 010-32h320a16 16 0 010 32zM32 272H16v48a32 32 0 0032 32h48v-16a64.07 64.07 0 00-64-64z"
          /><path
            d="M480 240h16v-64h-16a96.11 96.11 0 01-96-96V64H128v16a96.11 96.11 0 01-96 96H16v64h16a96.11 96.11 0 0196 96v16h256v-16a96.11 96.11 0 0196-96zm-224 64a96 96 0 1196-96 96.11 96.11 0 01-96 96z"
          /><circle cx="256" cy="208" r="64" /><path
            d="M416 336v16h48a32 32 0 0032-32v-48h-16a64.07 64.07 0 00-64 64zM480 144h16V96a32 32 0 00-32-32h-48v16a64.07 64.07 0 0064 64zM96 80V64H48a32 32 0 00-32 32v48h16a64.07 64.07 0 0064-64z"
          /></svg
        >
      </div>
      <h2 class="text-xl font-semibold">
        {t("industry_sections.finance-title")}
      </h2>
    </div>
    <p class="mt-2">
      {t("industry_sections.finance-description")}
    </p>
    <Button
      href={HUBSPOT_MEET_URL}
      target="blank"
      rel="noreferrer noopener">{t("lets_talk")}</Button
    >
  </div>

  <!-- Sección de Legales -->
  <div class="flex flex-col gap-4 rounded-lg p-4 shadow-lg">
    <div class="text-center">
      <div class="mx-auto mb-4 h-16 w-16">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ionicon"
          viewBox="0 0 512 512"
          ><path
            d="M336 80H176a16 16 0 00-16 16v16h192V96a16 16 0 00-16-16z"
            fill="none"
          /><path
            d="M496 176a64.07 64.07 0 00-64-64h-48V96a48.05 48.05 0 00-48-48H176a48.05 48.05 0 00-48 48v16H80a64.07 64.07 0 00-64 64v48h480zm-144-64H160V96a16 16 0 0116-16h160a16 16 0 0116 16zM336 264a24 24 0 01-24 24H200a24 24 0 01-24-24v-4a4 4 0 00-4-4H16v144a64 64 0 0064 64h352a64 64 0 0064-64V256H340a4 4 0 00-4 4z"
          /></svg
        >
      </div>
      <h2 class="text-xl font-semibold">
        {t("industry_sections.legal-title")}
      </h2>
    </div>
    <p class="mt-2">
      {t("industry_sections.legal-description")}
    </p>
    <Button
      href={HUBSPOT_MEET_URL}
      target="blank"
      rel="noreferrer noopener">{t("lets_talk")}</Button
    >
  </div>

  <!-- Sección de Salud -->
  <div class="flex flex-col gap-4 rounded-lg p-4 shadow-lg">
    <div class="text-center">
      <div class="mx-auto mb-4 h-16 w-16">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ionicon"
          viewBox="0 0 512 512"
          ><path
            d="M336 64H176a16 16 0 00-16 16v16h192V80a16 16 0 00-16-16z"
            fill="none"
          /><path
            d="M432 96h-48V80a48.05 48.05 0 00-48-48H176a48.05 48.05 0 00-48 48v16H80a64.07 64.07 0 00-64 64v256a64 64 0 0064 64h352a64 64 0 0064-64V160a64.07 64.07 0 00-64-64zm-96 208h-64v64a16 16 0 01-32 0v-64h-64a16 16 0 010-32h64v-64a16 16 0 0132 0v64h64a16 16 0 010 32zm16-208H160V80a16 16 0 0116-16h160a16 16 0 0116 16z"
          /></svg
        >
      </div>

      <h2 class="text-xl font-semibold">
        {t("industry_sections.health-title")}
      </h2>
    </div>
    <p class="mt-2">
      {t("industry_sections.health-description")}
    </p>
    <Button
      href={HUBSPOT_MEET_URL}
      target="blank"
      rel="noreferrer noopener">{t("lets_talk")}</Button
    >
  </div>
</section>


<h1
  class="flex h-72 items-center justify-center text-center text-4xl font-bold"
>
  {t("our_projects")}
</h1>

<section class="container mx-auto grid grid-cols-1 gap-8 lg:gap-16 xl:gap-32 pb-8">
  <div class="flex flex-col grid-rows-2 max-w-lg mx-auto md:max-w-full md:grid md:grid-cols-2 md:grid-rows-1 bg-fuchsia-950 rounded-lg">
    <img class="rounded-lg " src="/projects/amaranto_init.webp" />
    <div class="flex flex-col justify-center p-8 overflow-clip">
      <h3 class="text-2xl lg:text-4xl xl:text-5xl font-semibold mb-2 lg:mb-6">{t("projects.amaranto.title")}</h3>
      <p class="lg:text-lg xl:text-xl">{t("projects.amaranto.description")}</p>
    </div>
  </div>

  <div class="flex flex-col grid-rows-2 max-w-lg mx-auto md:max-w-full md:grid md:grid-cols-2 md:grid-rows-1 bg-[#991b1b]/50 rounded-lg">
    <img class="rounded-lg md:order-last" src="/projects/secret_diary_init.webp" />
    <div class="flex flex-col justify-center p-8 overflow-clip">
      <h3 class="text-2xl lg:text-4xl xl:text-5xl font-semibold mb-2 lg:mb-6">{t("projects.secret_diary.title")}</h3>
      <p class="lg:text-lg xl:text-xl">{t("projects.secret_diary.description")}</p>
    </div>
  </div>

  <div class="flex flex-col grid-rows-2 max-w-lg mx-auto md:max-w-full md:grid md:grid-cols-2 md:grid-rows-1 bg-gray-800/60 rounded-lg">
    <img class="rounded-lg " src="/projects/finance_manager_init.webp" />
    <div class="flex flex-col justify-center p-8 overflow-clip">
      <h3 class="text-2xl lg:text-4xl xl:text-5xl font-semibold mb-2 lg:mb-6">{t("projects.finance_manager.title")}</h3>
      <p class="lg:text-lg xl:text-xl">{t("projects.finance_manager.description")}</p>
    </div>
  </div>
</section>

<!-- <h1 -->
<!--   class="cool-title m-0 flex h-40 items-center justify-center p-0 text-center text-4xl font-bold" -->
<!-- > -->
<!--   {t("about_team")} -->
<!-- </h1> -->

<!-- <section class="flex flex-col items-center"> -->
<!--   <div class="carousel"> -->
<!--     <div class="cards-container" id="cards-container"> -->
      <!-- {#each team as member} -->
      <!--   <div class="card"> -->
      <!--     <img src={`/${member.image}`} class="card__image" alt="member img" /> -->
      <!--     <h1 class="card__name">{member.name}</h1> -->
      <!--     <h2 class="card__role">{member.role}</h2> -->
      <!--   </div> -->
      <!-- {/each} -->
<!--     </div> -->
<!--     <button id="carousel__btn-left" class="carousel__btn-left"> -->
<!--       <img src="/left-arrow.svg" alt="left-arrow" /> -->
<!--     </button> -->
<!--     <button id="carousel__btn-right" class="carousel__btn-right"> -->
<!--       <img src="/right-arrow.svg" alt="right-arrow" /> -->
<!--     </button> -->
<!--   </div> -->
<!-- </section> -->
</Main>
<style>
  .ionicon > * {
    fill: white;
  }
</style>
