---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl } from '../i18n/utils';
const { title, hideFooter = false } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title ?? 'Chiro Tech - Software Consultancy'}</title>
	</head>
	<body>
    <Header />
    <slot />
    {!hideFooter && <Footer />}
	</body>
</html>

<style>
  :global(body) {
    color: theme("colors.gray.50");
    background: theme("colors.stone.950");
  }
</style>
